<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <!--icon + and - --><link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://v4.bootcss.com/docs/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.js"></script>
    <script src="https://v4.bootcss.com/docs/dist/js/bootstrap.bundle.min.js"></script>
    <title>Religions</title>
</head>
<body>
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2><b>Manage Religion</b></h2>
            </div>
            <div class="col-sm-6">
                <a id = "add" class="btn btn-success"><i class="material-icons"></i> <span>Add New Religion</span></a>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>
                    <span class="custom-checkbox">
                        <input type="checkbox" id="selectAll">
                        <label for="selectAll"></label>
                    </span>
            </th>
            <th>Religion ID</th>
            <th>Religion name </th>
            <th>Believer</th>
            <th>gods</th>
            <th>buff</th>
        </tr>
        </thead>
        <tbody>
        {{#each list.data}}
            <tr>
                <td>
                    <span class="custom-checkbox">
                        <input type="checkbox" id="checkbox1" name="options[]" value="1">
                        <label for="checkbox1"></label>
                    </span>
                </td>

                <td>{{this.Religion_id}}</td>
                <td>{{this.Religion_name}}</td>
                <td>{{this.Religion_believer}}</td>
                <td>{{this.Religion_god}}</td>
                <td>{{this.Religion_buff}}</td>

            <td>
                <a  class="edit" onclick="edit({{this.Religion_id}})"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                <a onclick="del({{this.Religion_id}})" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
            </td>
            </tr>
        {{/each}}

    </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Faction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="id">
                    <div class="form-group">
                        <label for="religionName">Religion name</label>
                        <input type="text" class="form-control" id="religionName">
                    </div>
                    <div class="form-group">
                        <label for="religionBeliever">Believer</label>
                        <input type="number" class="form-control" id="religionBeliever">
                    </div>
                    <div class="form-group">
                        <label for="religionGod">God</label>
                        <input type="text" class="form-control" id="religionGod">
                    </div>
                    <div class="form-group">
                        <label for="religionBuff">Buff</label>
                        <input type="text" class="form-control" id="religionBuff">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="saveBtn" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    var id;
    function edit (_id) {
        $.ajax({
            method: 'get',
            url: '/religion/' + _id,
            success: function (data) {
                $('#religionName').val(data['Religion_name']);
                $('#religionBeliever').val(data['Religion_believer']);
                $('#religionGod').val(data['Religion_god']);
                $('#religionBuff').val(data['Religion_buff']);
                $('#id').val(data['Religion_id']);
                id = data['Religion_id'];
                $('#detail').modal('show');
            }
        });
    }
    function del (_id) {
        $.ajax({
            method: 'delete',
            url: '/religion/' + _id,
            success: function (data) {
                window.location.reload();
            }
        });
    }
    $(document).ready(function(){
        $('#saveBtn').bind('click', function (e) {
            save();
        });
        $('#add').bind('click', function (e) {
            $('input').val(null);
            id = undefined;
            $('#detail').modal('show');
        });
        function save () {
            const param = {
                religionName: $('#religionName').val(),
                religionBeliever: parseInt($('#religionBeliever').val()),
                religionBuff: $('#religionBuff').val(),
                religionGod: $('#religionGod').val()
            };
            if (id) {
                param['id'] = id;
            }
            $.ajax({
                method: 'post',
                url: '/religion',
                data: param,
                success: function () {
                    window.location.reload();
                }
            });
        }
    });
</script>
</html>
